.wrapper{
    padding: 150px ;
    display: flex;
    
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
       &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
       }
    
    
    
    .detail-card{
        z-index: 2;

        width: 30%;
        img{
            border-radius: 30px;
            width: 358px;
        }
    }
    .inf-movie{
        z-index: 2;
        width: 70%;
        margin-left: 32px;
        .name-movie{
            font-size: 4rem;
            line-height: 1;
            width: 80%;
            color: #FFF;
            margin-bottom: 2rem;
            font-weight: bold;
        }

    .caterory-movie{
        display: flex;

}

    .decription-movie{
        margin-top: 2rem;
        font-size: 16px;
        color: #FFF;

}

    .cast-movie{

}
.list-caster{
    display: flex;
}

        
    }

    
}