.wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px 32px;

    .title-video{
        color: #fff;
        padding-bottom: 10px;
        font-size: 24px;
    }
    .video{
    }
}